<div class="container">
  <%= link_to "回上頁", url_for(request.env["HTTP_REFERER"] || root_path) %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      
      <!-- page-header 裡面顯示個人檔案資料 -->
      <div class="page-header">

        <div class="col-md-3 col-sm-4">
          <div class="text-center">
            <%= image_tag @user.avatar.url, class: "img-responsive img-rounded" if @user.avatar? %>
            <%= image_tag "http://via.placeholder.com/350x350", class: "img-responsive img-rounded"  unless @user.avatar? %>  
          </div>
        </div>

        <div class="col-md-9 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong><%= @user.email %></strong></p>
          <div><%= simple_format @user.intro %></div>
          <% if @user.email == current_user.email %>
            <%= link_to '編輯個人資料', edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="clearfix"></div>

      </div>

      <br>

    </div>
  </div>

  <!-- 顯示已評論餐廳的清單，panel包一個panel-body裡面使用row>col的layouts來顯示評論 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>共有 <%= @commented_restaurants.count %></strong> 家已評論餐廳</h3>
    </div>
    <div class="panel-body panel-body-noline">
    <% @commented_restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
      <div class="my-restaurant">
        <div>
         <%= image_tag restaurant.image.url, class: "img-responsive img-rounded" if restaurant.image? %>
         <%= image_tag "https://via.placeholder.com/200", class: "img-responsive img-rounded"  unless restaurant.image? %> 
        </div>
        <h5><%= restaurant.name %></h5>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>

</div>