<h1>--餐廳後台--</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= restaurant.name %>
    <%= link_to 'Show', admin_restaurant_path(restaurant) %>
    <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %>
    <%= button_to "Delete", admin_restaurant_path(restaurant), method: :delete, onclick: "return confirmDestroy('確定要刪除此筆餐廳資訊嗎？')" %>
  </li>
  <% end %>
</ul>
<%= link_to '新建餐廳資訊', new_admin_restaurant_path %>