<div class="container">

  <h1>--餐廳後台--</h1>

  <div class="row">

    <div class="col-md-12">

      <div>
        <%= link_to '新建餐廳資訊', new_admin_restaurant_path, class: "btn btn-primary" %>
      </div>
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>編號</th>
            <th>餐廳名稱</th>
            <th>編輯</th>
            <th>刪除</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.each do |restaurant| %>
          <tr>
            <th width="10%" scope="row"><%= restaurant.id %></th>
            <td><%= link_to admin_restaurant_path(restaurant) do %>  <%# show改的,直接點選餐廳名稱後連結到餐廳頁面%>
              <%= restaurant.name %>
            <% end %>
            </td>
            <td width="10%">
              <%= button_to 'Edit', edit_admin_restaurant_path(restaurant), class: "btn btn-primary" %>
            </td>
            <td width="10%">
              <%= button_to "Delete", admin_restaurant_path(restaurant), class: "btn btn-danger", method: :delete, onclick: "return confirmDestroy('確定要刪除此筆餐廳資訊嗎？')" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @restaurants %>
      </div>

    </div>

  </div>
</div>
