<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
    </div>

    <div class="col-md-4">
      <%= image_tag @restaurant.image.url, width: '600px', class: "img-responsive center-block" if @restaurant.image? %>
      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>餐廳分類:</strong> <%= @restaurant.category.name %></li>
          <li><strong>營業時間:</strong> <%= @restaurant.opening_hours %></li>
          <li><strong>聯絡電話:</strong> <%= @restaurant.tel %></li>
          <li><strong>餐廳地址:</strong> <%= @restaurant.address %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <%= simple_format @restaurant.description %>
    </div>
    <div class="clearfix">
    
    </div>
  </div>
</div>
<div>
  <hr>
  <%= link_to '回餐廳目錄', admin_restaurants_path %>
  <hr>
</div>

